body,
html {
  width: 100%;
  height: auto;
  background-color: rosybrown;
  margin: 0 auto;

  overflow-y: auto;
  overscroll-behavior: none;
  overflow-x: hidden;
}

.main {
  max-width: 100%;
  min-height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*Use these later if needed! For now not needed.*/
/* @media only screen and (min-width: 600px) {


  .info-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 80vw;
    margin-left: 150px;
  }

  .results-content {
    margin-top: 200px;
    max-width: 70vw;
  }

  .page-content {
    padding: 15px;

    max-width: 70vw;
    min-width: 60vw;
  }

  .all_books {
    width: 60vw;
    box-sizing: border-box;
    background-color: rgb(229, 229, 236);
    border: 2px solid black;
  }



  .book-results-wrap {
    width: 70vw;
  }

  .all_books_wrap {
    margin: 0;
    max-width: 70vw;
  }
} */

/* @media only screen and (min-width: 900px) {
  .page-content {
    padding: 15px;

    max-width: 80vw;
    min-width: 70vw;
  }

  .all_books {
    width: 70vw;
    box-sizing: border-box;
  }

  .bigscreen-top {
    right: 3%;
    width: 60vw;
    margin-left: 300px;
    margin-right: 200px;
  }

  .info-area {
    margin-left: 150px;
  }

  .book-results-wrap {
    grid-template-columns: repeat(5, 1fr);
  }
} */
