/*Not mobile first!
Still time to change it?*/

body,
html {
  /*No scrolling on the site itself.
  Create scrollable areas when necessary*/
  width: 100%;
  height: 100%;
  background-color: rosybrown;
  margin: 0;

  display: flex;
  justify-content: center;

  overflow-x: hidden;
  overflow-y: auto;
}


.info-area {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.search-area {
  max-width: 100vw;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.results-content {
  margin-top: 250px;
  max-width: 90vw;
  background-color: salmon;
}

/*to separate searchbar from books*/
.page-content {
  margin-top: 20vh;
  display: block;
  max-width: 90vw;
  min-width: 80vw;

  box-sizing: border-box;
  background-color: aquamarine;
}

.book-results-wrap {
  outline: 4px solid red;
  width: 90vw;
  max-height: 500px;

  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.filtered-books {
  outline: 4px solid rgb(0, 42, 255);
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100px;
  max-height: 400px;


  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  /* max-height: calc(200px * 5 + 20px * 4); */
  gap: 20px;
}

/*fetched books wrapped to change placement*/
.all_books_wrap {
  background-color: blueviolet;

  display: flex;
  flex-direction: column;

  gap: 50px;
  width: 100vw;
  height: auto;
}

/*fetched books div*/
.all_books {
  overflow-x: auto;
  overflow-y: hidden;

  background-color: aqua;
  height: 25vh;
  width: 80vw;
  padding-right: 10px;
  padding-left: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

/*book card with book info*/
.book_card {
  font-size: small;
  text-align: start;
  color: black;

  background-color: rgb(238, 46, 142);
  flex: 0 0 auto;
  /* estää kutistumisen */
  height: 140px;
  width: 100px;
}

@media only screen and (min-width: 600px) {


  .info-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 80vw;
    margin-left: 150px;
  }

  /* .page-content {
    max-width: 80vw;
  } */

  .results-content {
    margin-top: 200px;
    max-width: 70vw;
    /* background-color: salmon; */
  }

  .book-results-wrap {
    /* outline: 4px solid red; */
    width: 70vw;
  }

  .all_books_wrap {
    margin: 0;
    max-width: 70vw;
    margin-left: 9vw;
  }
}

@media only screen and (min-width: 900px) {

  .bigscreen-top {
    right: 3%;
    width: 60vw;
    margin-left: 300px;
    margin-right: 200px;
  }

  .info-area {
    margin-left: 150px;
  }

  .book-results-wrap {
    grid-template-columns: repeat(5, 1fr);
  }
}