/*Not mobile first!
Still time to change it?*/

body,
html {
  /*No scrolling on the site itself.
  Create scrollable areas when necessary*/
  width: 100vw;
  height: 100vh;
  background-color: rosybrown;
  margin: 0;
  display: flex;
  justify-content: center;

  overflow-x: hidden;
  overflow-y: auto;
}

.info-area {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*to separate searchbar from books*/
.page-content {
  margin: 0 auto;
}

.resultspage-wrap {
  max-width: 80vw;
}

.results-area {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
}

/*fetched books wrapped to change placement*/
.all_books_wrap {
  background-color: blueviolet;

  display: flex;
  flex-direction: column;

  /* margin-top: 300px; */
  gap: 50px;
  width: 100vw;
  height: auto;
}

/*fetched books div*/
.all_books {
  overflow-x: auto;
  overflow-y: hidden;

  background-color: aqua;
  height: 25vh;
  padding-right: 10px;
  padding-left: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

/*book card with book info*/
.book_card {
  font-size: small;
  text-align: start;
  color: black;

  background-color: rgb(238, 46, 142);
  flex: 0 0 auto;
  /* estää kutistumisen */
  max-height: 20vh;
  max-width: 25vw;
}

@media only screen and (min-width: 600px) {


  .info-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 80vw;
    margin-left: 10vw;
  }

  .page-content {
    max-width: 80vw;
  }

  .resultspage-wrap {
    margin-left: 10vw;
    max-width: 80vw;
  }

  .results-area {
    max-width: 70vw;
  }

  .all_books_wrap {
    margin: 0;
    max-width: 70vw;
    margin-left: 9vw;
  }
}

@media only screen and (min-width: 800px) {

  .bigscreen-top {
    right: 3%;
    width: 60vw;
    margin-left: 300px;
    margin-right: 200px;
  }

  .info-area {
    margin-left: 5vw;
  }
}