/*MENU AND MENU BUTTONS*/
/*Colors are ugly so that i know what im doing*/

.menu {
    background-color: red;
    overflow: hidden;
    right: 0;

    width: 100%;
    height: 15vh;
    gap: 1px;

    position: sticky;
    top: 0;
    z-index: 100;
}

.menu-buttons a {
    color: hotpink;
}

.menu-buttons a:hover {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

.menu-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;

    background-color: rgb(255, 0, 153);
    width: 100vw;
    height: 15vh;
}

.small-btns {
    display: contents;

}

#home-logo {
    order: 1;
    background-color: black;
    color: white;
    height: 100%;
    text-align: center;
}

#faves-btn {
    order: 2;
    background-color: rgb(255, 182, 182);
    color: rgb(0, 0, 0);
    height: 100%;
}

#user-btn {
    order: 3;
    background-color: rgb(3, 157, 47);
    color: white;
    height: 100%;
}

#settings-btn {
    order: 4;
    background-color: rgb(56, 56, 56);
    color: white;
    height: 100%;
}

@media only screen and (min-width: 600px) {
    .menu {
        position: fixed;
        left: 0;
        overflow: hidden;

        width: 150px;
        height: 100vh;
        gap: 20px;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .menu-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        width: 100%;
        height: 100%;
    }

    .small-btns {
        box-sizing: border-box;
        background-color: azure;
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #home-logo {
        order: 0;
        height: 30vh;
        width: 100%;
    }

    #faves-btn {
        min-height: 10vh;
        width: 100%;
    }

    #user-btn {
        min-height: 10vh;
        width: 100%;
    }

    #settings-btn {
        min-height: 10vh;
        width: 100%;
        margin-bottom: 50px;
    }
}