/*MENU AND MENU BUTTONS*/
/*Colors are ugly so that i know what im doing*/

.menu {
    background-color: red;
    overflow: hidden;
    right: 0;

    width: 100%;
    height: 15vh;
    gap: 1px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;

    position: fixed;
    top: 0;
    z-index: 100;
}

.menu-buttons a {
    color: hotpink;
}

.menu-buttons a:hover {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

.home-logo {
    background-color: black;
    color: white;
    height: 100%;
    width: 40%;
    text-align: center;
}

.menu-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: row;

    width: 100%;
    height: 100%;
    background-color: rgb(255, 0, 153);
}

.small-btns {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
}

.faves-btn {
    background-color: rgb(255, 182, 182);
    color: rgb(0, 0, 0);
    height: 100%;
    width: 33.3%;
}

.user-btn {
    background-color: rgb(3, 157, 47);
    color: white;
    height: 100%;
    width: 33.3%;
}

.settings-btn {
    background-color: rgb(56, 56, 56);
    color: white;
    height: 100%;
    width: 33.3%;
}

@media only screen and (min-width: 600px) {
    .menu {
        position: fixed;
        left: 0;
        overflow: hidden;

        width: 150px;
        height: 100vh;
        gap: 20px;

        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .menu-buttons {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .small-btns {
        flex-direction: column;
        justify-content: end;
        gap: 20px;
    }

    .home-logo {
        height: 30vh;
        width: 100%;
    }

    .faves-btn {
        max-height: 10vh;
        width: 100%;
    }

    .user-btn {
        max-height: 10vh;
        width: 100%;
    }

    .settings-btn {
        max-height: 10vh;
        width: 100%;
        margin-bottom: 50px;
    }
}