/*Not mobile first!
Still time to change it?*/

body,
html {
  /*No scrolling on the site itself.
  Create scrollable areas when necessary*/
  width: 100vw;
  height: 100vh;
  background-color: rosybrown;
  margin: 0;
  display: flex;
  justify-content: center;

  overflow-x: hidden;
  overflow-y: auto;
}

/*MENU AND MENU BUTTONS*/
/*Colors are ugly so that i know what im doing*/

.menu {
  background-color: red;
  overflow: hidden;
  right: 0;

  width: 100%;
  height: 15vh;
  gap: 1px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;

  position: fixed;
  top: 0;
  z-index: 100;
}

.menu-buttons a {
  color: hotpink;
}

.menu-buttons a:hover {
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

.home-logo {
  background-color: black;
  color: white;
  height: 100%;
  width: 40%;
  text-align: center;
}

.menu-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: row;

  width: 100%;
  height: 100%;
  background-color: rgb(255, 0, 153);
}

.small-btns {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;
}

.faves-btn {
  background-color: rgb(255, 182, 182);
  color: rgb(0, 0, 0);
  height: 100%;
  width: 33.3%;
}

.user-btn {
  background-color: rgb(3, 157, 47);
  color: white;
  height: 100%;
  width: 33.3%;
}

.settings-btn {
  background-color: rgb(56, 56, 56);
  color: white;
  height: 100%;
  width: 33.3%;
}

.searchbar-container {
  background-color: blue;
  padding: 2vh;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 15vh;
  width: 100%;
  /* z-index: 90; */

}

.searchbar {
  width: 100%;

  /* background-color: bisque; */
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar input {
  width: 80%;
  height: 30px;
  margin: 0;
  padding: 0;
}

/*fetched books wrapped to change placement*/
.all_books_wrap {
  background-color: blueviolet;

  display: flex;
  flex-direction: column;

  /* margin-top: 300px; */
  gap: 50px;
  width: 100vw;
  height: auto;
}

/*fetched books div*/
.all_books {
  overflow-x: auto;
  overflow-y: hidden;

  background-color: aqua;
  height: 25vh;
  padding-right: 10px;
  padding-left: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

/*book card with book info*/
.book_card {
  font-size: small;
  text-align: start;
  color: black;

  background-color: rgb(238, 46, 142);
  flex: 0 0 auto;
  /* estää kutistumisen */
  max-height: 20vh;
  max-width: 25vw;
}

@media only screen and (min-width: 600px) {

  .menu {
    position: fixed;
    left: 0;
    overflow: hidden;

    width: 150px;
    height: 100vh;
    gap: 20px;

    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .menu-buttons {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .small-btns {
    flex-direction: column;
    justify-content: end;
    gap: 20px;
  }

  .home-logo {
    height: 30vh;
    width: 100%;
  }

  .faves-btn {
    max-height: 10vh;
    width: 100%;
  }

  .user-btn {
    max-height: 10vh;
    width: 100%;
  }

  .settings-btn {
    max-height: 10vh;
    width: 100%;
    margin-bottom: 50px;
  }

  .info-area {
    max-width: 80vw;
    margin-left: 10vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .all_books_wrap {
    margin: 0;
    max-width: 70vw;
    margin-left: 9vw;
  }

  .searchbar-container {
    display: flex;
    position: fixed;
    width: 70%;
    top: 0%;
  }

  .searchbar input {
    width: 100%;
    height: 45px;
  }
}

@media only screen and (min-width: 800px) {

  .bigscreen-top {
    right: 3%;
    width: 60vw;
    margin-left: 300px;
    margin-right: 200px;
  }
}