/*Not mobile first!
Still time to change it?*/

body,
html {
  /*No scrolling on the site itself.
  Create scrollable areas when necessary*/
  background-color: rosybrown;
  margin: 0;
  overflow: hidden;
}

/*Colors are ugly so that i know what im doing*/
.menu {
  background-color: red;

  position: fixed;
  top: 0vh;
  margin-left: 0%;
  width: 18vw;
  height: 100vh;
  border-radius: 2vh;
  padding: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  flex-direction: column;
}

/*everything stays within .menu*/
.user,
#user_image,
#menu_buttons {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  /* prevent child overflow */
}

#user_image {
  background-color: black;
  color: white;
}

#user_name {
  background-color: blueviolet;
  color: azure;
}

#menu_buttons {
  width: 15vw;
  gap: 50px;

  background-color: rgb(101, 101, 101);
}

button {
  width: 100%;
  background-color: rgb(236, 236, 53);
  color: brown;
}